<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>GENDER</th>
        <th>PASSWORD</th>
        <th>STATUS</th>
      </tr>
      {%for one in list%}
      <tr>
        <td>{{ one[0] }}</td>
        <td>{{ one[1] }}</td>
        <td>{{ one[2] }}</td>
        <td>{{ one[3] }}</td>
        <td>{{ one[4] }}</td>
        <td>{{ one[5] }}</td>
        <td>{{ one[6] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
